[Unit]
Description=Run Lucy Notes oneshot periodically

[Timer]
OnBootSec=5s
OnUnitActiveSec=1h
Persistent=true
Unit=lucy-notes-oneshot.service

[Install]
WantedBy=timers.target
