[Unit]
Description=Run Lucy Notes oneshot periodically

[Timer]
OnStartupSec=5s
OnCalendar=hourly
Persistent=true
Unit=lucy-oneshot.service

[Install]
WantedBy=timers.target
