[Unit]
Description=Lucy Notes oneshot run

[Service]
Type=oneshot
WorkingDirectory=/home/user/demon_lucy
ExecStart="/usr/bin/python3" "/home/user/demon_lucy/main_oneshot.py" "--sys-config-path" "/home/user/Notes/.lucy/config.txt" "--oneshot-paths" "/home/user/Notes" "--sys-modules" "git" "archive"
